version: '2'
services:
    match:
        build: .
        ports:
            - "8888:80"
        links:
            - elasticsearch
    elasticsearch:
        image: elasticsearch
        ports:
            - "59200:9200"
